

set $mod Mod4


font pango:DejaVu Sans Mono 10


floating_modifier Mod1

bindsym $mod+Return exec xfce4-terminal
bindsym $mod+Shift+Return exec terminology

bindsym $mod+Shift+q kill
bindsym Mod1+F4 kill


bindsym $mod+h focus left
bindsym $mod+j focus down
bindsym $mod+k focus up
bindsym $mod+l focus right


bindsym $mod+Shift+h move left
bindsym $mod+Shift+j move down
bindsym $mod+Shift+k move up
bindsym $mod+Shift+l move right


bindsym $mod+Shift+minus split h
bindsym $mod+Shift+equal split h

bindsym $mod+minus split v

bindsym $mod+F11 fullscreen toggle

bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

bindsym $mod+F7 floating toggle
bindsym $mod+F8 sticky toggle

bindsym $mod+n focus mode_toggle
bindsym mod1+space exec "rofi -show window"

bindsym $mod+a focus parent

bindsym $mod+shift+a focus child

bindsym $mod+1 workspace 1
bindsym $mod+2 workspace 2
bindsym $mod+3 workspace 3
bindsym $mod+4 workspace 4
bindsym $mod+5 workspace 5
bindsym $mod+6 workspace 6
bindsym $mod+7 workspace 7
bindsym $mod+8 workspace 8
bindsym $mod+9 workspace 9
bindsym $mod+0 workspace 10

bindsym $mod+contorl+1 workspace 1
bindsym $mod+contorl+2 workspace 2
bindsym $mod+contorl+3 workspace 3
bindsym $mod+contorl+4 workspace 4
bindsym $mod+control+q workspace 5
bindsym $mod+control+w workspace 6
bindsym $mod+control+e workspace 7
bindsym $mod+control+r workspace 8
bindsym $mod+control+a workspace 9
bindsym $mod+control+s workspace 10

bindsym $mod+Shift+1 move container to workspace 1
bindsym $mod+Shift+2 move container to workspace 2
bindsym $mod+Shift+3 move container to workspace 3
bindsym $mod+Shift+4 move container to workspace 4
bindsym $mod+Shift+5 move container to workspace 5
bindsym $mod+Shift+6 move container to workspace 6
bindsym $mod+Shift+7 move container to workspace 7
bindsym $mod+Shift+8 move container to workspace 8
bindsym $mod+Shift+9 move container to workspace 9
bindsym $mod+Shift+0 move container to workspace 10

bindsym $mod+Shift+Up move workspace to output up
bindsym $mod+Shift+Down move workspace to output down
bindsym $mod+Shift+Left move workspace to output left
bindsym $mod+Shift+Right move workspace to output right

bindsym $mod+Shift+c reload
bindsym $mod+Shift+r restart
bindsym $mod+Shift+e exec "i3-nagbar -t warning -m 'You pressed the exit shortcut. Do you really want to exit i3? This will end your X session.' -b 'Yes, exit i3' 'i3-msg exit'"

mode "resize" {

        bindsym h resize shrink width 10 px or 10 ppt
        bindsym k resize grow height 10 px or 10 ppt
        bindsym j resize shrink height 10 px or 10 ppt
        bindsym l resize grow width 10 px or 10 ppt
        bindsym Return mode "default"
        bindsym Escape mode "default"
}

bindsym $mod+r mode "resize"




client.focused          #2070ff #208fdf #ffdfbf #2e9ef4   #285577
client.focused_inactive #333333 #5f676a #ffffff #484e50   #5f676a
client.unfocused        #333333 #222222 #888888 #292d2e   #222222
client.urgent           #2f343a #900000 #ffffff #900000   #900000
client.placeholder      #000000 #0c0c0c #ffffff #000000   #0c0c0c

client.background       #ffffff

exec synclient VertScrollDelta=-79 HorizScrollDelta=-79
exec feh --bg-fill /home/amir/Pictures/wallpaper

bindsym $mod+o workspace next
bindsym $mod+i workspace prev

bindsym $mod+x workspace next
bindsym $mod+z workspace prev

# gaps inner 9
# gaps outer 1

bindsym $mod+F12 exec "~/xrandr-laptop-below.sh"
exec_always --no-startup-id $HOME/.config/polybar/launch.sh
